<footer>
    <div class="footer">
        <div class="footer_container">
            <div class="footer_left">
                <!-- <img src="../images/copyright.png" alt="Copyright" class="copyright_img" /> -->
                <div class="logo_copy">
                    <i class="fa fa-copyright" aria-hidden="true"></i>
                    <h3>CSkinz</h3>
                </div>
                <a href="/about">ABOUT</a>
                <a href="/contact">CONTACT</a>
            </div>
            <div class="footer_right">
            <span class="twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></span>
            <span class="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</footer>

</body> 

</html>