<%- include('./partials/header.ejs') %>
<main class="error_page">
    <div class = "error_content">
        <h4> <%= error.status %> Error</h4> 
        <p> <%= error.message %></p>
    </div>
</main>

<%- include('./partials/footer.ejs') %>