<%- include('../partials/header.ejs') %>
      <main>
            <div class="home_intro">
                <div class="intro_container">
                    <h2>Welcome to CSkinz !</h2>
                    <p>A better way to trade CSGO skins.</p>
                </div>
            
            </div>
      </main>
<%- include('../partials/footer.ejs') %>