<%- include('../partials/header.ejs') %>
<main class="main_newTrade">
            <div class="newTrade_container">
                <form class="newTrade_form" action="/trades" method="POST">
                    <div class="newTrade_row">
                        <div class="row_left">
                            <label>Category</label>
                        </div>
                        <div class="row_right">
                            <input class="newTrade_text" type="text" id="category" name="category" placeholder="Enter Category" required>
                        </div>
                        
                    </div>
                    <div class="newTrade_row">
                        <div class="row_left">
                            <label>Skin</label>
                        </div>
                        <div class="row_right">
                            <input class="newTrade_text" type="text" id="skinname" name="skin_name" placeholder="Enter Skin Name" required>
                        </div>
                        
                    </div>
                    <div class="newTrade_row">
                        <div class="row_left">
                            <label>Image</label>
                        </div>
                        <div class="row_right">
                            <input class="newTrade_text" type="text" id="imglink" name="img" placeholder="Enter image link" required>
                        </div>
                        
                    </div>
                        
                    <div class="newTrade_row">
                        <div class="row_left">
                            <label>Details</label>
                        </div>
                        <div class="row_right">
                            <textarea name="desc" placeholder="Enter Details.." required minlength="40"></textarea>
                        </div>
                        
                    </div>
                   
                   <div class="newTrade_row">
                        <input type="submit" value="Create Trade" />

                   </div>
                    
                </form>
            </div>
        </main>
  <%- include('../partials/footer.ejs') %>